* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
  margin: 10px;
  text-align: center;
  font-size: 20px;
  font-family: "Lato" sans-serif;
}

h1,
h2 {
  font-family: "Montserrat" sans-serif;
}

body .page {
  background-color: #03045e;
  color: #013958;
}

body .page header {
  margin: 5px;
  padding: 5px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset -16px -16px 32px #afafaf, inset 16px 16px 32px #ffffff;
}

body .page header nav {
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

body .page main .presentation {
  background: #e0e0e0;
  box-shadow: inset -16px -16px 32px #afafaf, inset 16px 16px 32px #ffffff;
}

.barre {
  height: 40px;
}

body .page main .hidden-presentation {
  display: none;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset -16px -16px 32px #afafaf, inset 16px 16px 32px #ffffff;
}

body .page main article {
  margin: 5px;
  padding: 10px 0px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset -16px -16px 32px #afafaf, inset 16px 16px 32px #ffffff;
}

body .page main article img {
  padding: 2px;
  border-radius: 30px;
}

@media screen and (min-width: 280px) and (max-width: 450px) {
  body .page header h1 {
    font-size: 50px;
    padding: 5px;
  }

  body .page main .presentation {
    padding: 15px;
    margin: 5px;
    border-radius: 50px;
  }

  body .page main article h2 {
    padding: 10px 0px;
    font-size: 40px;
  }
}

@media screen and (min-width: 450px) and (max-width: 768px) {
  body {
    font-size: 30px;
  }

  body .page {
    padding: 10px;
  }

  body .page header {
    border-radius: 25px;
  }

  body .page header h1 {
    font-size: 65px;
    padding: 10px 0px;
  }

  body .page main .presentation {
    padding: 15px;
    margin: 5px;
    border-radius: 25px;
  }

  body .page main article h2 {
    padding: 20px 0px;
    font-size: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 40px;
  }

  body .page {
    padding: 15px;
  }

  body .page header {
    border-radius: 20px;
  }

  body .page header h1 {
    font-size: 75px;
    padding: 10px 0px;
  }

  body .page main .presentation {
    padding: 15px;
    margin: 5px;
    border-radius: 20px;
  }

  body .page main article h2 {
    padding: 30px 0px;
    font-size: 60px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 50px;
  }

  body .page {
    padding: 20px;
  }

  body .page header {
    border-radius: 15px;
  }

  body .page header h1 {
    font-size: 85px;
    padding: 10px 0px;
  }

  body .page main .presentation {
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
  }

  body .page main article h2 {
    padding: 40px 0px;
    font-size: 70px;
  }
}

/* Mise en page CSS de la page 7minutes.html */

.body-7minutes {
  background-color: rgb(17, 16, 16);
  margin: 10px;
  font-family: 'Source Sans 3', sans-serif;
}

.body-7minutes .page-7minutes {
  color: #013958;
}

.body-7minutes .page-7minutes header {
  margin: 10px;
  padding: 5px;
  border-radius: 15px 15px 0px 0px;
  background: #3ae032;
}

.body-7minutes .page-7minutes h1 {
  margin: 20px 0px;
  font-size: 40px;
  font-family: 'Playfair Display', serif;
}

.body-7minutes .page-7minutes header img {
  border-radius: 30px;
}

.body-7minutes .page-7minutes header nav {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.body-7minutes .page-7minutes main .cadre {
  width: 100%;
  padding: 10% 5%;
  background: white;
}

.body-7minutes .page-7minutes main .cadre .reseau {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.body-7minutes .page-7minutes main .reseaux {
  background-image: url(./images/fondF7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.body-7minutes .page-7minutes main h2 {
  margin: 20px;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
}

.body-7minutes .page-7minutes main .cadre .description-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-7minutes .page-7minutes main .fond {
  background-image: url(./images/7fond.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.body-7minutes .page-7minutes main .cadre .description-7 img {
  padding: 20px 0px;
}

.description-7 ul {
  list-style: none;
}

.body-7minutes .page-7minutes footer {
  margin: 10px;
  background-color: #3ae032;
  border-radius: 0px 0px 10px 10px;
}

@media screen and (min-width: 450px) and (max-width: 768px) {
  .body-7minutes {
    font-size: 30px;
  }

  .body-7minutes .page-7minutes {
    padding: 10px;
  }

  .body-7minutes .page-7minutes header {
    border-radius: 25px 25px 0px 0px;
  }

  .body-7minutes .page-7minutes header h1 {
    font-size: 45px;
    padding: 10px 0px;
  }

  .body-7minutes .page-7minutes header nav {
    font-size: 25px;
  }

  .body-7minutes .page-7minutes main .cadre {
    padding: 15px;
    margin: 5px;
    border-radius: 25px;
  }

  .body-7minutes .page-7minutes main .fond {
    background-image: url(./images/sport.avif);
    background-repeat: repeat;
    background-size: contain;
  }

  .body-7minutes .page-7minutes main .cadre h2 {
    padding: 20px 0px;
    font-size: 40px;
  }

  .body-7minutes .page-7minutes main .reseaux {
    background-image: url(./images/fondF7bis.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .body-7minutes .page-7minutes footer {
    margin: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .body-7minutes {
    font-size: 40px;
  }

  .body-7minutes .page-7minutes {
    padding: 15px;
  }

  .body-7minutes .page-7minutes header {
    border-radius: 20px 20px 0px 0px;
  }

  .body-7minutes .page-7minutes header h1 {
    font-size: 55px;
    padding: 10px 0px;
  }

  .body-7minutes .page-7minutes header nav {
    font-size: 35px;
  }

  .body-7minutes .page-7minutes main .cadre {
    padding: 15px;
    margin: 5px;
    border-radius: 20px;
  }

  .body-7minutes .page-7minutes main .reseaux {
    background-image: url(./images/fondF7ter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .body-7minutes .page-7minutes main .cadre .description-7 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  .body-7minutes .page-7minutes main .cadre .description-7 img {
    align-items: center;
    width: 316px;
    height: 636px;
  }

  .body-7minutes .page-7minutes main .cadre h2 {
    padding: 20px 0px;
    font-size: 50px;
  }

  .body-7minutes .page-7minutes main .cadre .reseau img {
    width: 100px;
    height: 100px;
  }

  .body-7minutes .page-7minutes footer {
    margin: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .body-7minutes {
    font-size: 50px;
  }

  .body-7minutes .page-7minutes {
    padding: 10px;
  }

  .body-7minutes .page-7minutes header {
    border-radius: 15px 15px 0px 0px;
  }

  .body-7minutes .page-7minutes header h1 {
    font-size: 65px;
    padding: 10px 0px;
  }

  .body-7minutes .page-7minutes header nav {
    font-size: 45px;
  }

  .body-7minutes .page-7minutes main .cadre {
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
  }

  .body-7minutes .page-7minutes main .reseaux {
    background-image: url(./images/fondF7quatre.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .body-7minutes .page-7minutes main .cadre .description-7 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  .body-7minutes .page-7minutes main .cadre .description-7 img {
    align-items: center;
    width: 316px;
    height: 636px;
  }

  .body-7minutes .page-7minutes main .cadre h2 {
    padding: 15px 0px;
    font-size: 50px;
  }

  .body-7minutes .page-7minutes main .cadre .reseau img {
    width: 100px;
    height: 100px;
  }

  .body-7minutes .page-7minutes footer {
    margin: 5px;
  }
}

/* Mise en page CSS de la page fitnessPal.html */

.fitnessPal {
  background-color: white;
  margin: 0px;
  border: solid rgb(156, 148, 202);
  font-family: 'Raleway', sans-serif;
}

.fitnessPal .page-fitness {
  color: rgb(99, 107, 53);
}

.fitnessPal .page-fitness header {
  margin: 10px;
  padding: 5px;
  border-radius: 15px 15px 0px 0px;
  background-color: rgb(156, 148, 202);
}

.fitnessPal .page-fitness h1 {
  margin: 20px 0px;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
}

.fitnessPal .page-fitness header img {
  border-radius: 30px;
}

.fitnessPal .page-fitness header nav {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.fitnessPal .page-fitness main .cadre {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(86, 64, 213);
  color: rgb(169, 191, 42);
  background: rgba(35, 35, 35, 1);
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1),
      0px 0px 10px rgba(255, 255, 255, 1),
      0px 0px 15px rgba(255, 255, 255, 1),
      0px 0px 20px rgba(73, 255, 24, 1),
      0px 0px 30px rgba(73, 255, 24, 1),
      0px 0px 40px rgba(73, 255, 24, 1),
      0px 0px 55px rgba(73, 255, 24, 1),
      0px 0px 75px rgba(73, 255, 24, 1);
}

.fitnessPal .page-fitness main .cadre-background {
  background-image: url(./images/saine.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-weight: bolder;
}

.fitnessPal .page-fitness main .cadre .reseau {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.fitnessPal .page-fitness main h2 {
  margin: 20px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  background: rgba(35, 35, 35, 1);
}

.fitnessPal .page-fitness main .description-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fitnessPal .page-fitness main .cadre .description-7 img {
  padding: 20px 0px;
}

.fitnessPal .page-fitness main .cadre .description-7 ul {
  list-style: none;
  background: rgba(35, 35, 35, 1);
}

.fitnessPal .page-fitness footer {
  margin: 10px;
  background-color: rgb(156, 148, 202);
  border-radius: 0px 0px 10px 10px;
}

@media screen and (min-width: 450px) and (max-width: 768px) {
  .fitnessPal {
    font-size: 30px;
  }

  .fitnessPal .page-fitness {
    padding: 10px;
  }

  .fitnessPal .page-fitness header {
    border-radius: 25px 25px 0px 0px;
  }

  .fitnessPal .page-fitness header h1 {
    font-size: 45px;
    padding: 10px 0px;
  }

  .fitnessPal .page-fitness header nav {
    font-size: 25px;
  }

  .fitnessPal .page-fitness main .cadre {
    padding: 15px;
    margin: 5px;
    border-radius: 25px;
  }

  .fitnessPal .page-fitness main .cadre h2 {
    padding: 20px 0px;
    font-size: 40px;
  }

  .fitnessPal .page-fitness footer {
    margin: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fitnessPal {
    font-size: 40px;
  }

  .fitnessPal .page-fitness {
    padding: 15px;
  }

  .fitnessPal .page-fitness header {
    border-radius: 20px 20px 0px 0px;
  }

  .fitnessPal .page-fitness header h1 {
    font-size: 55px;
    padding: 10px 0px;
  }

  .fitnessPal .page-fitness header nav {
    font-size: 35px;
  }

  .fitnessPal .page-fitness main .cadre {
    padding: 15px;
    margin: 5px;
    border-radius: 20px;
  }

  .fitnessPal .page-fitness main .cadre .description-7 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  .fitnessPal .page-fitness main .cadre .description-7 img {
    align-items: center;
    width: 316px;
    height: 636px;
  }

  .fitnessPal .page-fitness main .cadre h2 {
    padding: 20px 0px;
    font-size: 50px;
  }

  .fitnessPal .page-fitness main .cadre .reseau img {
    width: 100px;
    height: 100px;
  }

  .fitnessPal .page-fitness footer {
    margin: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .fitnessPal {
    font-size: 50px;
  }

  .fitnessPal .page-fitness {
    padding: 10px;
  }

  .fitnessPal .page-fitness header {
    border-radius: 15px 15px 0px 0px;
  }

  .fitnessPal .page-fitness header h1 {
    font-size: 65px;
    padding: 10px 0px;
  }

  .fitnessPal .page-fitness header nav {
    font-size: 45px;
  }

  .fitnessPal .page-fitness main .cadre {
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
  }

  .fitnessPal .page-fitness main .cadre .description-7 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  .fitnessPal .page-fitness main .cadre .description-7 img {
    align-items: center;
    width: 316px;
    height: 636px;
  }

  .fitnessPal .page-fitness main .cadre h2 {
    padding: 15px 0px;
    font-size: 50px;
  }

  .fitnessPal .page-fitness main .cadre .reseau img {
    width: 100px;
    height: 100px;
  }

  .fitnessPal .page-fitness footer {
    margin: 5px;
  }
}

.uberEats {
  font-family: 'Roboto', sans-serif;
}

.uberEats h1 .uberEats h2 {
  font-family: 'Fredoka', sans-serif;
}

.uberEats .page-uberEats main .cadre-background {
  background-image: url(./images/burger.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-weight: bolder;
}