* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}
body {
  background-color: black;
  margin: 10px;
  text-align: center;
  font-size: 20px;
}

body .page {
  background-color: #03045e;
  color: #013958;
}
body .page header {
  margin: 5px;
  padding: 5px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset -16px -16px 32px #afafaf, inset 16px 16px 32px #ffffff;
}

body .page header nav {
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

body .page main .presentation {
  background: #e0e0e0;
  box-shadow: inset -16px -16px 32px #afafaf, inset 16px 16px 32px #ffffff;
}
.barre {
  height: 40px;
}
body .page main .hidden-presentation {
  display: none;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset -16px -16px 32px #afafaf, inset 16px 16px 32px #ffffff;
}
body .page main article {
  margin: 5px;
  padding: 10px 0px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset -16px -16px 32px #afafaf, inset 16px 16px 32px #ffffff;
}
body .page main article img {
  padding: 2px;
  border-radius: 30px;
}
@media screen and (min-width: 280px) and (max-width: 450px) {
  body .page header h1 {
    font-size: 50px;
    padding: 5px;
  }
  body .page main .presentation {
    padding: 15px;
    margin: 5px;
    border-radius: 50px;
  }
  body .page main article h2 {
    padding: 10px 0px;
    font-size: 40px;
  }
}

@media screen and (min-width: 450px) and (max-width: 768px) {
  body {
    font-size: 30px;
  }
  body .page {
    padding: 10px;
  }
  body .page header {
    border-radius: 25px;
  }

  body .page header h1 {
    font-size: 65px;
    padding: 10px 0px;
  }
  body .page main .presentation {
    padding: 15px;
    margin: 5px;
    border-radius: 25px;
  }
  body .page main article h2 {
    padding: 20px 0px;
    font-size: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 40px;
  }
  body .page {
    padding: 15px;
  }
  body .page header {
    border-radius: 20px;
  }

  body .page header h1 {
    font-size: 75px;
    padding: 10px 0px;
  }

  body .page main .presentation {
    padding: 15px;
    margin: 5px;
    border-radius: 20px;
  }
  body .page main article h2 {
    padding: 30px 0px;
    font-size: 60px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 50px;
  }
  body .page {
    padding: 20px;
  }
  body .page header {
    border-radius: 15px;
  }

  body .page header h1 {
    font-size: 85px;
    padding: 10px 0px;
  }

  body .page main .presentation {
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
  }
  body .page main article h2 {
    padding: 40px 0px;
    font-size: 70px;
  }
}

/* Mise en page CSS de la page 7minutes.html */

.body-7minutes {
  background-color: rgb(17, 16, 16);
  margin: 0px;
}

.body-7minutes .page-7minutes {
  color: #013958;
}

.body-7minutes .page-7minutes header {
  margin: 10px;
  padding: 5px;
  border-radius: 15px 15px 0px 0px;
  background: #3ae032;
}
.body-7minutes .page-7minutes h1 {
  margin: 20px 0px;
  font-size: 40px;
}

.body-7minutes .page-7minutes header img {
  border-radius: 30px;
}

.body-7minutes .page-7minutes header nav {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.body-7minutes .page-7minutes main .cadre {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
}
.body-7minutes .page-7minutes main .cadre .reseau {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.body-7minutes .page-7minutes main h2 {
  margin: 20px;
  font-size: 30px;
}

.body-7minutes .page-7minutes main .description-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-7minutes .page-7minutes main .description-7 img {
  padding: 20px 0px;
}

.description-7 ul {
  list-style: none;
}

.body-7minutes .page-7minutes footer {
  margin: 10px;
  background-color: #3ae032;
  border-radius: 0px 0px 10px 10px;
}

@media screen and (min-width: 450px) and (max-width: 768px) {
  .body-7minutes {
    font-size: 30px;
  }
  .body-7minutes .page-7minutes {
    padding: 10px;
  }
  .body-7minutes .page-7minutes header {
    border-radius: 25px 25px 0px 0px;
  }

  .body-7minutes .page-7minutes header h1 {
    font-size: 45px;
    padding: 10px 0px;
  }
  .body-7minutes .page-7minutes header nav {
    font-size: 25px;
  }

  .body-7minutes .page-7minutes main .cadre {
    padding: 15px;
    margin: 5px;
    border-radius: 25px;
  }
  .body-7minutes .page-7minutes main .cadre h2 {
    padding: 20px 0px;
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .body-7minutes {
    font-size: 40px;
  }
  .body-7minutes .page-7minutes {
    padding: 15px;
  }
  .body-7minutes .page-7minutes header {
    border-radius: 20px 20px 0px 0px;
  }

  .body-7minutes .page-7minutes header h1 {
    font-size: 55px;
    padding: 10px 0px;
  }
  .body-7minutes .page-7minutes header nav {
    font-size: 35px;
  }

  .body-7minutes .page-7minutes main .cadre {
    padding: 15px;
    margin: 5px;
    border-radius: 20px;
  }
  .body-7minutes .page-7minutes main .cadre .description-7 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .body-7minutes .page-7minutes main .cadre .description-7 img {
    width: 237;
    height: 477;
  }
  .body-7minutes .page-7minutes main .cadre h2 {
    padding: 20px 0px;
    font-size: 50px;
  }
}
